<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head') %>
  <title>Home | CYL 😹</title>
</head>
<body>
  <%- include ('./partials/header') %>

  <main>
    <section id="combo-generator">
      <form action="/" method="POST">
        <article id="cat-images">
          <input
            type="hidden"
            name="cat"
            value="<%= catData.url %>"
            id="image-cat"
          />
          <img src="<%= catData.url %>" alt="" />
        </article>

        <article id="jokes">
          <input type="hidden" name="joke" value="<%= jokeData.setup %>" />
          <input
            type="hidden"
            name="punchline"
            value="<%= jokeData.punchline %>"
          />
          <input type="hidden" name="id" value="<%= jokeData.id %>" />
          <label id="joke" for="joke"><%= jokeData.setup %></label>
          <label id="punchline" for="punchline"><%= jokeData.punchline %></label>
        </article>

        <article id="like-area">
          <h2>Like this combo!</h2>
          <button id="likeBtn" type="submit">❤️</button>
          <a href="/favourites">My Favourites</a>
        </article>
      </form>
      <form action="/another" method="POST">
        <button id="comboBtn" type="submit">Another combo!</button>
      </form>
    </section>
  </main>

  <%- include ('./partials/footer') %>

