<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head') %>
    <title>Favourites | CATCH YOUR LAUGH</title>
  </head>
  <body>
    <%- include ('../partials/header') %>

    <main>
      <section id="favourites">
        <h1>Favourites</h1>
        <a href="/">Back</a>

        <ul>
          <!-- Make item (forEach) with new data object -->

        <% dataCat.forEach(item => { %>
          <li>
            <img src="<%= dataCat.item.url %>" alt="" />
            <div>
              <p><%= dataJokes.setup %></p>
              <p><%= dataJokes.punchline %></p>
            </div>
            <div>
              <button class="checkBtn"></button>
              <button class="deleteBtn"></button>
            </div>
          </li>
          
        </ul>
        <button class="deleteAllBtn">Delete all</button>

        <ol>
          <p>No favourite combo's yet 🙁</p>
        </ol>
      </section>
    </main>

    <%- include ('../partials/footer') %>
  </body>
</html>
